@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.banner {
    background-color: #CE1141;
    margin: -10px;
    padding: 30px;
    font-size: 40px;
    font-family: "Anton", sans-serif;
    text-align: center;
    color: black;

}
nav{
    font-size: 20px;
    font-family: "Anton", sans-serif;
    background-color: Black	;
    color: white;
    margin: -10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #111111;
}
.banner-content {
    padding: 20px;
    font-size: 20px;
    color:  black; 
  background-color: #white	;
  margin: -10px;
  font-family: "Anton", sans-serif;

}
p{
    color: black;
    font-family: "Anton", sans-serif;
}
h1{
    font-size: 30px;
    font-family: "Anton", sans-serif;
}
.nba{
    color: black;
    font-family: "Anton", sans-serif;
}
.statistics{
    color: black;
    font-family: "Anton", sans-serif;
}
.education{
    color: black;
    font-family: "Anton", sans-serif;
}